# macOS
**/.DS_Store

# IDE
.idea/**
.vscode/**
!.vscode/extensions.json
**.iml

# Temporary OpenAPI Generator output
build/generated/

# Node dependencies
node_modules/

# Generated docs site output
site/
